body {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #050F0CE3;
    font-family: 'Helvetica';
    font-size: medium;
    padding-top: 20px;
    color: #e4fcd1;
}

.container {
    width: 90%;
    padding-top: 40px;
}

.nav {
    font-size: large;
    display: flex;
    gap: 10px;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.pane {
    margin: 0 auto 0 0;
}

h1, h2 {
    color: #aa502f;
}

h3, h4 {
    color: #d07655
}

a {
    color: #0B9A6D;
    text-decoration: none;
    border-bottom: 1px dotted #0B9A6D;
}

li {
    padding-bottom: 9px;
}

@media (min-width: 1000px) { 
    .container {
        width: 50%;
    }
}
